[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/assimp/assimp.git
